{{ if eq .Type "rides" }}
    {{ $location_id := .Params.location }}
    {{ range where (where .Site.Pages "Section" "locations" ) ".Params.location_id" "==" $location_id }}
        {{ .Params.google_maps | safeHTML }}
        <br>
        {{ .Content }}
    {{ end }}
{{ else if eq .Type "locations"}}
    {{ .Params.google_maps | safeHTML }}
{{ end }}
<br>
<!-- location pages: -->
<!-- <br> -->
{{ range (where .Site.Pages "Section" "locations")  }}
    <!-- {{ . }} -->
{{ end }}
<!-- <br> -->
<!-- with ID: -->
<!-- <br> -->
{{ range where (where .Site.Pages "Section" "locations") ".Params.location_id" "!=" nil }}
    <!-- {{ . }} -->
{{ end }}
<!-- <br> -->
