ride location :
{{ $location_id := .Params.location }}
{{ $location_id }}
<br>
<!-- location pages: -->
<!-- <br> -->
{{ range (where .Site.Pages "Section" "locations")  }}
    <!-- {{ . }} -->
{{ end }}
<!-- <br> -->
<!-- with ID: -->
<!-- <br> -->
{{ range where (where .Site.Pages "Section" "locations") ".Params.location_id" "!=" nil }}
    <!-- {{ . }} -->
{{ end }}
<!-- <br> -->

FINAL:
<br>
{{ range where (where .Site.Pages "Section" "locations" ) ".Params.location_id" "==" $location_id }}
MAP:
    {{ .Params.google_maps | safeHTML }}
{{ .Params.location_id }}
    {{ .Content }}

    <!-- <iiframe src="{{ .Params.google_map_url }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
{{ end }}

<br>
END