{{ $location_difficulty := slice }}
{{ $ride_difficulty := slice }}
{{ if and (eq .Type "locations") (.Params.location_difficulty) }}
    {{ $location_difficulty = .Params.location_difficulty }}
{{ else if eq .Type "rides" }}
    {{ $location_id := .Params.location }}
    {{ range where (where .Site.Pages "Section" "locations" ) ".Params.location_id" "==" $location_id }}
        {{ if .Params.location_difficulty}}
            {{ $location_difficulty = .Params.location_difficulty }}
        {{ end }}
    {{ end }}
    {{ if .Params.ride_difficulty}}
        {{ $ride_difficulty = .Params.ride_difficulty }}
        {{ $location_difficulty = .Params.ride_difficulty }}
    {{ end }}
{{ end }}
<figure class="mtb-trail-grade">
{{ range .Site.Params.mtb_trail_grades }}
    {{ $image_path := "" }}
    {{ if in $location_difficulty .  }}
        {{ $image_path = path.Join "mtb-trail-grades" (printf "%s.png" . ) }}
    {{ else }}
        {{ $image_path = path.Join "mtb-trail-grades" (printf "not-%s.png" . ) }}
    {{ end }}
    {{ $image := (resources.Get $image_path).Resize "24x"  }}
    {{ $image_link := $image.RelPermalink }}
    <img src="{{ $image.RelPermalink }}" alt="mtb-trail-grade-{{ . }}">
{{ end }}
</figure>
