<li class="nav-item">
    <a class="nav-link active" href="{{ "rides/" | absURL }}">Rides</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "locations/" | absURL }}">Locations</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "howto/" | absURL }}">How To</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "posts/" | absURL }}">Posts</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">About</a>
</li>